@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Galien";
  font-display: swap;
  src: url("../fonts/Galien-Bold.woff") format("woff"), url("../fonts/Galien-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

:root {
  --black: #000000;
  --white: #ffffff;
  --blue_01: #1f3f68;
  --blue_02: #316099;
  --blue_03: #356ead;
  --blue_04: #5a98d0;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Gilroy";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Gilroy";
}

input::-ms-clear {
  display: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: var(--blue_01);
  font-size: 16px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

._container {
  max-width: 940px;
  margin: 0 auto;
}

.header {
  padding: 40px 0px 0px 0px;
}

.header__container {
  max-width: 1280px;
  padding: 0px 40px 0px 40px;
  margin: 0 auto;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu__body {
  -webkit-transform: translate(0px, -100%);
  -ms-transform: translate(0px, -100%);
  transform: translate(0px, -100%);
  -webkit-transition: -webkit-transform 0.8s ease 0s;
  transition: -webkit-transform 0.8s ease 0s;
  -o-transition: transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s, -webkit-transform 0.8s ease 0s;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  padding: 70px 10px 30px 10px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2;
}

.menu__body._active {
  -webkit-transform: translate(0px, 0%);
  -ms-transform: translate(0px, 0%);
  transform: translate(0px, 0%);
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu__list li {
  margin: 0px 0px 30px 0px;
}

.menu__list li:last-child {
  margin: 0px 0px 0px 0px;
}

.menu__link {
  font-size: 30px;
  font-weight: 600;
  color: var(--blue_01);
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__link._active {
  color: var(--blue_04);
}

.icon-menu {
  display: block;
  position: relative;
  width: 24px;
  height: 16px;
  cursor: pointer;
  z-index: 3;
  margin-right: 4px;
}

.icon-menu span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: calc(50% - 1px);
  left: 0px;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--blue_03);
}

.icon-menu span:first-child {
  top: 0px;
}

.icon-menu span:last-child {
  top: auto;
  bottom: 0px;
}

.icon-menu._active span {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.icon-menu._active span:first-child {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}

.icon-menu._active span:last-child {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.footer {
  padding: 0px 96px 0px 0px;
}

.footer__container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0px 31px 0px 49px;
}

.footer__body {
  padding: 89px 0px 64px 0px;
  border-radius: 0px 200px 0px 0px;
  background-color: var(--blue_02);
  color: var(--white);
  line-height: 162.5%;
  letter-spacing: 0.05em;
  position: relative;
}

.footer__body a {
  color: var(--white);
}

.footer__row_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 101px;
}

.footer__row_bottom {
  padding: 95px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__block {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  margin: 0px auto 0px 0px;
}

.footer__title {
  max-width: 320px;
  font-size: 36px;
  line-height: 127.7777777778%;
  letter-spacing: 0.05em;
  font-weight: 600;
  margin: 0px 0px 35px 0px;
}

.footer__text {
  max-width: 460px;
  opacity: 0.6;
}

.footer__button {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 220px;
  flex: 0 0 220px;
  padding: 15px 74px;
  letter-spacing: 0.04em;
  background-color: var(--blue_04);
  display: block;
  text-align: center;
  border-radius: 10px;
  margin: 8px 0 0 30px;
}

.footer__dec-line {
  position: absolute;
  left: 0;
  height: 2px;
  width: 84.5%;
  background-color: var(--white);
  opacity: 0.4;
}

.footer__contacts {
  max-width: 300px;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2px 0px 0px 0px;
  margin: 0px 0px 31px 0px;
}

.footer__logo h3 {
  font-size: 28px;
  line-height: 164.2857142857%;
  letter-spacing: 0.02em;
  font-weight: 600;
  margin: 0 0 0 15px;
}

.footer__copy {
  display: block;
  margin: 64px 0px 0px 0px;
  opacity: 0.4;
  max-width: 290px;
  text-align: center;
}

.contacts {
  margin: 0px 100px 0px 0px;
}

.contacts__list {
  padding: 0px 0px 0px 35px;
}

.contacts__list li {
  margin-bottom: 24px;
}

.contacts__list li:last-child {
  margin-bottom: 0;
}

.contacts__text {
  position: relative;
}

.contacts__text::before {
  position: absolute;
  left: -34px;
  content: "A.";
  width: 19px;
  height: 26px;
}

.contacts__phone {
  position: relative;
}

.contacts__phone::before {
  position: absolute;
  left: -34px;
  content: "T.";
  width: 19px;
  height: 26px;
}

.contacts__email {
  position: relative;
}

.contacts__email::before {
  position: absolute;
  left: -34px;
  content: "E.";
  width: 19px;
  height: 26px;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.links__block:first-child {
  margin: 0px 77px 0px 0px;
}

.links__title {
  font-size: 20px;
  line-height: 150%;
  font-weight: 600;
  margin: 0px 0px 32px 0px;
  white-space: nowrap;
}

.links__list li {
  margin: 0px 0px 18px 0px;
}

.links__list li:last-child {
  margin-bottom: 0;
}

.title-block {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(8.84%, rgba(152, 195, 232, 0.2)), color-stop(31.12%, rgba(152, 195, 232, 0)));
  background: -o-linear-gradient(bottom, rgba(152, 195, 232, 0.2) 8.84%, rgba(152, 195, 232, 0) 31.12%);
  background: linear-gradient(0deg, rgba(152, 195, 232, 0.2) 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.title-block__content {
  padding: 91px 0px 191px 0px;
}

.title-block__body {
  position: relative;
}

.title-block__image {
  position: absolute;
  max-width: 687px;
  top: 0;
  right: 0;
  -webkit-transform: translate(27.7%, -14.5%);
  -ms-transform: translate(27.7%, -14.5%);
  transform: translate(27.7%, -14.5%);
  z-index: -1;
}

.title-block__image img {
  width: 100%;
}

.title-block__title {
  font-family: "Galien";
  max-width: 515px;
  font-size: 64px;
  line-height: 115.625%;
  letter-spacing: 0.04em;
  margin: 0px 0px 43px 0px;
}

.title-block__text {
  max-width: 425px;
  font-size: 16px;
  line-height: 162.5%;
  letter-spacing: 0.05em;
  opacity: 0.6;
  margin: 0px 0px 79px 0px;
}

.title-block__button {
  display: block;
  max-width: 220px;
  padding: 15px 48px;
  background: var(--blue_04);
  -webkit-box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  letter-spacing: 0.04em;
  color: var(--white);
  line-height: 162.5%;
}

.title-block__button:hover {
  background: var(--blue_02);
}

.cards {
  padding: 193px 0px 211px 0px;
}

.cards__content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
}

.cards__title {
  font-size: 36px;
  line-height: 127.7777777778%;
  letter-spacing: 0.05em;
  color: var(--blue_02);
  font-weight: 600;
  max-width: 360px;
  padding: 0px 0px 160px 0px;
  grid-column: 1/span 5;
}

.cards__item {
  max-height: 525px;
}

.cards__item:first-of-type {
  grid-column: 2/span 5;
  grid-row: 2/4;
}

.cards__item:nth-of-type(2) {
  margin-bottom: 100px;
  grid-column: 8/span 5;
  grid-row: 1/3;
}

.cards__item:last-of-type {
  grid-column: 8/span 5;
  grid-row: 3/5;
}

.card {
  max-width: 380px;
  padding: 235px 48px 48px 48px;
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  position: relative;
  -webkit-transition: -webkit-transform 0.2s ease 0.1s;
  transition: -webkit-transform 0.2s ease 0.1s;
  -o-transition: transform 0.2s ease 0.1s;
  transition: transform 0.2s ease 0.1s;
  transition: transform 0.2s ease 0.1s, -webkit-transform 0.2s ease 0.1s;
}

.card__image {
  position: absolute;
  top: 0;
  left: center;
  max-width: 132px;
  max-height: 132px;
}

.card__image_first {
  top: 48px;
  -webkit-transform: translateX(12%);
  -ms-transform: translateX(12%);
  transform: translateX(12%);
}

.card__image_second {
  top: 0;
  -webkit-transform: translate(15%, -18%);
  -ms-transform: translate(15%, -18%);
  transform: translate(15%, -18%);
}

.card__image_third {
  top: 48px;
  -webkit-transform: translateX(28%);
  -ms-transform: translateX(28%);
  transform: translateX(28%);
}

.card__title {
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.048em;
  font-weight: 600;
  color: var(--blue_01);
  margin-bottom: 17px;
}

.card__text {
  font-size: 16px;
  line-height: 162.5%;
  letter-spacing: 0.05em;
  opacity: 0.6;
  margin-bottom: 36px;
}

.card__link {
  color: var(--blue_04);
  font-size: 14px;
  line-height: 214.2857142857%;
  letter-spacing: 0.05em;
  font-weight: 600;
  max-width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card__link::after {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  margin: 0px 0px 0px 24px;
  background: url(../img/icons/arrow_r.svg) no-repeat;
}

.clients {
  padding: 95px 0 125px 0;
  background: var(--blue_04);
  border-top-left-radius: 200px;
}

.clients__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 114px 0px;
}

.clients__title {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: 225px;
  font-size: 36px;
  line-height: 127.7777777778%;
  letter-spacing: 0.05em;
  color: var(--white);
  font-weight: 600;
  margin-right: 97px;
}

.clients__text {
  max-width: 540px;
  line-height: 162.5%;
  letter-spacing: 0.05em;
  color: var(--white);
  opacity: 0.6;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
}

.clients__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 235px;
  flex: 0 0 235px;
  height: 128px;
  border-right: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clients__item a {
  padding: 41px 0px;
  font-size: 20px;
  line-height: 230%;
  font-weight: 600;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
}

.clients__item:nth-child(4n) {
  border-right: none;
}

.clients__item:nth-child(n+5) {
  border-bottom: none;
}

.clients__logo {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.clients__logo:hover {
  background-color: rgba(31, 63, 104, 0.2);
}

.clients__logo img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: var(--white);
  text-align: center;
  -o-object-fit: contain;
  object-fit: contain;
}

.clients__more {
  display: block;
  background-color: rgba(31, 63, 104, 0.2);
  width: 100%;
  height: 100%;
}

.page__footer-bg {
  background-color: var(--blue_04);
}

.blog__title {
  margin: 42px 0px 0px 0px;
}

.blog__search {
  margin: 56px 0px 0px 0px;
}

.blog__popular-news {
  margin: 56px 0px 0px 0px;
}

.blog__news {
  margin: 55px 0px 0px 0px;
}

.title {
  background: url("../img/title/title_bg.svg") no-repeat;
  background-size: 100% 100%;
  color: var(--white);
}

.title__body {
  padding: 47px 0px 54px 0px;
}

.title__headline {
  font-size: 44px;
  line-height: 168.1818181818%;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.04em;
  max-width: 325px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.title__text {
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.04em;
  opacity: 0.4;
  max-width: 780px;
  margin: 0 auto;
}

.search__body {
  position: relative;
}

.search__body::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  top: 16px;
  left: 24px;
  background: url(../img/icons/search.svg) no-repeat;
}

.search__input {
  width: 100%;
  background: #f4f4f4;
  border-radius: 10px;
  padding: 20px 72px 18px 72px;
  color: rgba(31, 63, 104, 0.6);
  line-height: 118.75%;
  font-weight: 300;
  font-size: 16px;
}

.search__input:focus {
  color: var(--blue_01);
}

.popular-news__content {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0px 0px 26px 0px;
}

.popular-news__title {
  font-size: 20px;
  line-height: 125%;
  color: var(--blue_03);
  letter-spacing: 0.04em;
  font-weight: 600;
  margin: 0px 0px 32px 0px;
}

.popular-news__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popular-news__row_b {
  display: block;
  margin: 0px 0px 33px 0px;
}

.popular-news__row_s {
  margin: 0px 0px 52px 0px;
}

.popular-news__more {
  line-height: 125%;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--blue_03);
  font-weight: 600;
  display: block;
  max-width: 215px;
  margin: 0px 0px 0px auto;
}

.new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.new_b {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.new_column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 300px;
  margin: 0px 20px 0px 0px;
  -webkit-transition: -webkit-transform 0.3s ease 0.1s;
  transition: -webkit-transform 0.3s ease 0.1s;
  -o-transition: transform 0.3s ease 0.1s;
  transition: transform 0.3s ease 0.1s;
  transition: transform 0.3s ease 0.1s, -webkit-transform 0.3s ease 0.1s;
}

.new_column:last-child {
  margin-right: 0;
}

.new_row {
  max-width: 860px;
  -webkit-transition: -webkit-transform 0.3s ease 0.1s;
  transition: -webkit-transform 0.3s ease 0.1s;
  -o-transition: transform 0.3s ease 0.1s;
  transition: transform 0.3s ease 0.1s;
  transition: transform 0.3s ease 0.1s, -webkit-transform 0.3s ease 0.1s;
}

.new__image {
  margin: 0px 0px 12px 0px;
}

.new__image img {
  width: 100%;
}

.new__image_b {
  margin: 0px 0px 0px 20px;
}

.new__image_column {
  margin: 0px 0px 12px 0px;
}

.new__image_row {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 300px;
  flex: 0 0 300px;
  margin: 0px 20px 0px 0px;
}

.new__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 380px;
}

.new__content_column {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.new__content_row {
  max-width: none;
}

.new__title {
  font-family: "Galien";
  font-size: 28px;
  line-height: 135.7142857143%;
  color: var(--blue_01);
  letter-spacing: 0.04em;
  margin: 0px 0px 14px 0px;
}

.new__title a {
  color: inherit;
}

.new__title_b {
  font-size: 48px;
  line-height: 110.4166666667%;
  margin: 0px 0px 42px 0px;
  padding: 0px 0px 0px 2px;
}

.new__title_column {
  padding: 0px 0px 0px 2px;
  line-height: 139.2857142857%;
  margin: 0px 0px 18px 0px;
}

.new__text {
  padding: 0px 0px 0px 2px;
  font-size: 16px;
  line-height: 168.75%;
  letter-spacing: 0.04em;
  color: var(--vlack);
  opacity: 0.6;
  margin: 0px 0px 14px 0px;
}

.new__text_b {
  margin: 0px 0px 52px 0px;
}

.new__text_column {
  margin: 0px 0px 15px 0px;
}

.new__footer {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 300px;
}

.new__info {
  font-size: 14px;
  line-height: 171.4285714286%;
  letter-spacing: 0.04em;
  color: var(--blue_01);
  margin-right: auto;
}

.new__author {
  margin: 0px 0px 6px 0px;
}

.new__date {
  opacity: 0.4;
}

.new__bookmark {
  margin: 0px 32px 0px 0px;
}

.news__content {
  padding: 0px 0px 97px 0px;
}

.news__title {
  font-size: 20px;
  line-height: 125%;
  color: var(--blue_03);
  letter-spacing: 0.04em;
  font-weight: 600;
  margin: 0px 0px 32px 0px;
}

.news__list {
  margin: 0px 0px 56px 0px;
}

.news__item {
  margin-bottom: 32px;
}

.news__item:last-child {
  margin-bottom: 0;
}

.news__paggination {
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.04em;
  font-weight: 600;
  color: var(--blue_03);
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.news__fresh {
  padding: 0px 0px 0px 34px;
  position: relative;
}

.news__fresh::before {
  position: absolute;
  top: 2px;
  left: 0;
  content: "";
  width: 18px;
  height: 18px;
  background: url(../img/icons/arrow_back.svg);
}

.news__old {
  padding: 0px 34px 0px 0px;
  position: relative;
}

.news__old::before {
  position: absolute;
  top: 2px;
  right: 0;
  content: "";
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  background: url(../img/icons/arrow_back.svg);
}

.contact__title {
  margin: 41px 0px 0px 0px;
}

.contact__feedback {
  margin: 57px 0px 0px 0px;
}

.contact__map {
  margin: 96px 0px 96px 0px;
}

.feedback__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback__contacts {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  max-width: 325px;
  margin: 0px 75px 0px 0px;
  padding: 63px 0px 0px 0px;
}

.feedback__image {
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.feedback__image img {
  width: 100%;
}

.feedback__row {
  margin: 0px 0px 43px 0px;
}

.feedback__row:last-child {
  margin-bottom: 0;
}

.feedback__title {
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.04em;
  font-weight: 600;
  color: var(--blue_01);
  margin: 0px 0px 24px 0px;
}

.feedback__title_form {
  margin: 0px 0px 49px 0px;
}

.feedback__info {
  display: block;
  font-size: 16px;
  line-height: 162.5%;
  letter-spacing: 0.04em;
  color: #1f3f68;
  opacity: 0.6;
  font-weight: 300;
  padding: 0px 0px 0px 40px;
  margin: 0px 0px 17px 0px;
  max-width: 300px;
}

.feedback__info:last-child {
  margin-bottom: 0;
}

.feedback__info_text {
  padding: 0px 0px 0px 0px;
}

.feedback__info_phone {
  position: relative;
}

.feedback__info_phone::before {
  position: absolute;
  top: 3px;
  left: 0;
  content: "";
  width: 24px;
  height: 24px;
  background: url(../img/icons/phone.svg);
}

.feedback__info_link {
  position: relative;
}

.feedback__info_link::before {
  position: absolute;
  top: 1px;
  left: 0;
  content: "";
  width: 24px;
  height: 24px;
  background: url(../img/icons/planet.svg);
}

.feedback__info_email {
  position: relative;
}

.feedback__info_email::before {
  position: absolute;
  top: 1px;
  left: 0;
  content: "";
  width: 24px;
  height: 24px;
  background: url(../img/icons/email.svg);
}

.feedback__form {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.form {
  padding: 54px 55px 56px 57px;
  -webkit-box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  max-width: 540px;
}

.form__title {
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.04em;
  font-weight: 600;
  color: var(--blue_01);
  margin: 0px 0px 49px 0px;
}

.form__row {
  margin: 0px 0px 30px 0px;
}

.form__row:last-child {
  margin-bottom: 0;
  margin-top: 69px;
}

.form__label {
  display: block;
  font-size: 16px;
  line-height: 187.5%;
  letter-spacing: 0.04em;
  color: rgba(31, 63, 104, 0.8);
  margin: 0px 0px 10px 0px;
}

.form__input {
  padding: 21px 35px;
  width: 100%;
  font-size: 16px;
  line-height: 187.5%;
  font-weight: 300;
  letter-spacing: 0.04em;
  border: 1px solid rgba(53, 110, 173, 0.4);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  color: var(--blue_01);
}

.form__textarea {
  padding-bottom: 5px;
  resize: none;
}

.form__submit {
  width: 100%;
  background: var(--blue_04);
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  padding: 22px 0px 25px 0px;
  text-align: center;
  font-size: 16px;
  line-height: 162.5%;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--white);
  font-weight: 600;
}

.map__body {
  padding: 0px 0px 51.1% 0px;
  position: relative;
}

.map__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

._hidden {
  visibility: hidden;
}

._disabled {
  display: none;
}

._placeholder {
  color: rgba(31, 63, 104, 0.2);
}

._fill {
  color: var(--blue_01);
}

._shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(31, 63, 104, 0.5);
}

._error {
  position: relative;
}

._error input {
  border: 1px solid rgba(173, 53, 53, 0.4);
}

._error label {
  color: rgba(173, 53, 53, 0.9);
}

._error textarea {
  border: 1px solid rgba(173, 53, 53, 0.4);
}

._error-message {
  color: rgba(173, 53, 53, 0.9);
  position: absolute;
  line-height: 162.5%;
  font-size: 14px;
  background-color: var(--white);
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(110%);
  -ms-transform: translateY(110%);
  transform: translateY(110%);
}

.popup {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: var(--white);
  width: 100%;
}

.popup__form {
  max-width: 540px;
}

.popup__success {
  max-width: 540px;
}

.popup__body {
  position: relative;
}

.popup__close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.popup__close:hover {
  opacity: 1;
}

.popup__close:before,
.popup__close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: var(--blue_01);
}

.popup__close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup__close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.success {
  -webkit-box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  padding: 30px 20px 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.success__title {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}

.success__image {
  max-width: 100px;
}

.success__image img {
  width: 100%;
}

@media (min-width: 991.98px) {
  .menu__link:hover {
    color: var(--blue_04);
  }

  .footer__button:hover {
    background-color: var(--blue_01);
  }

  .card:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  .new_column:hover {
    -webkit-transform: scale(1.05) translateY(-3%);
    -ms-transform: scale(1.05) translateY(-3%);
    transform: scale(1.05) translateY(-3%);
  }

  .new_row:hover {
    -webkit-transform: scale(1.05) translateX(-5%);
    -ms-transform: scale(1.05) translateX(-5%);
    transform: scale(1.05) translateX(-5%);
  }

  .new__title :hover {
    color: var(--blue_02);
  }

  .form__submit:hover {
    background: var(--blue_03);
  }
}

@media (max-width: 1365px) {
  .title-block__image {
    max-width: 587px;
    -webkit-transform: translate(10%, -10%);
    -ms-transform: translate(10%, -10%);
    transform: translate(10%, -10%);
  }
}

@media (max-width: 1085px) {
  .title-block__image {
    -webkit-transform: translate(0, -10%);
    -ms-transform: translate(0, -10%);
    transform: translate(0, -10%);
    opacity: 0.8;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .footer {
    padding: 0px 70px 0px 0px;
  }

  .footer__body {
    font-size: 14px;
  }

  .footer__title {
    font-size: 30px;
    margin: 0px 0px 20px 0px;
  }

  .footer__text {
    font-size: 14px;
  }

  .contacts {
    margin: 0px 20px 0px 0px;
  }

  .links__block:first-child {
    margin: 0px 30px 0px 0px;
  }

  .title-block__content {
    padding: 60px 0px 130px 0px;
  }

  .title-block__image {
    max-width: 487px;
  }

  .title-block__title {
    font-size: 48px;
    max-width: 385px;
  }

  .title-block__text {
    font-size: 14px;
    max-width: 380px;
    margin: 0px 0px 50px 0px;
  }

  .cards {
    padding: 120px 0px 160px 0px;
  }

  .cards__title {
    font-size: 28px;
  }

  .cards__item {
    max-height: 448px;
  }

  .card {
    max-width: 300px;
    padding: 200px 30px 30px 30px;
  }

  .card__image_first {
    -webkit-transform: translateX(15%);
    -ms-transform: translateX(15%);
    transform: translateX(15%);
  }

  .card__image_second {
    -webkit-transform: translate(2%, -18%);
    -ms-transform: translate(2%, -18%);
    transform: translate(2%, -18%);
  }

  .card__image_third {
    -webkit-transform: translateX(20%);
    -ms-transform: translateX(20%);
    transform: translateX(20%);
  }

  .card__title {
    font-size: 16px;
  }

  .card__text {
    font-size: 14px;
  }

  .clients {
    padding: 96px 0 125px 0;
    border-top-left-radius: 175px;
  }

  .clients__title {
    margin-right: 50px;
    font-size: 30px;
    padding-left: 20px;
  }

  .clients__item:nth-child(4n) {
    border-right: 1px solid var(--white);
  }

  .clients__item:nth-child(n+5) {
    border-bottom: 1px solid var(--white);
  }

  .clients__item:nth-child(3n) {
    border-right: none;
  }

  .clients__item:nth-child(n+7) {
    border-bottom: none;
  }

  .title {
    background-size: auto 100%;
  }

  .popular-news__row_b {
    margin: 0px 0px 20px 0px;
  }

  .new__image_row {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 250px;
    flex: 0 0 250px;
  }

  .new__title {
    font-size: 24px;
  }

  .new__title_b {
    font-size: 36px;
    margin: 0px 0px 18px 0px;
  }

  .new__text {
    font-size: 14px;
  }

  .new__text_b {
    margin: 0px 0px 18px 0px;
  }

  .form {
    padding: 30px;
  }
}

@media (max-width: 991.98px) and (max-width: 767.98px) {
  .clients__item:nth-child(3n) {
    border-right: 1px solid var(--white);
  }

  .clients__item:nth-child(2n) {
    border-right: none;
  }
}

@media (max-width: 991.98px) and (max-width: 529.67px) {
  .clients__item {
    border-right: none;
  }

  .clients__item:nth-child(3n) {
    border-right: none;
  }

  .clients__item:nth-child(7) {
    border-bottom: 1px solid var(--white);
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .header {
    padding: 20px 0px 0px 0px;
  }

  .menu__body {
    padding: 120px 10px 30px 10px;
  }

  .footer {
    padding: 0px 20px 0px 0px;
  }

  .footer__body {
    padding: 80px 0px 40px 0px;
  }

  .footer__row_top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding-bottom: 60px;
  }

  .footer__row_bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 60px 0px 0px 0px;
  }

  .footer__block {
    margin: 0px 0px 30px 0px;
  }

  .footer__title {
    font-size: 26px;
  }

  .footer__text {
    font-size: 12px;
  }

  .footer__button {
    max-width: 220px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-item-align: center;
    align-self: center;
    padding: 15px 55px;
    margin-left: 0;
  }

  .footer__copy {
    font-size: 11px;
    margin: 0 auto;
    margin-top: 40px;
  }

  .contacts {
    margin: 0px 0px 40px 0px;
  }

  .links__block:first-child {
    margin: 0px 40px 0px 0px;
  }

  .links__title {
    margin: 0px 0px 20px 0px;
    font-size: 16px;
  }

  .title-block__content {
    padding: 40px 0px 90px 0px;
  }

  .title-block__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .title-block__image {
    display: none;
  }

  .title-block__button {
    font-size: 14px;
    padding: 12px 48px;
  }

  .cards {
    padding: 80px 0px 80px 0px;
  }

  .cards__content {
    grid-template-columns: 1fr;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
  }

  .cards__title {
    margin: 0 auto;
    padding: 0px 0px 50px 0px;
  }

  .cards__item {
    margin: 0 auto;
  }

  .cards__item:first-of-type {
    grid-column: 1;
    grid-row: 2/4;
    margin-bottom: 60px;
  }

  .cards__item:nth-of-type(2) {
    grid-column: 1;
    grid-row: 4/6;
    margin-bottom: 60px;
  }

  .cards__item:last-of-type {
    grid-column: 1;
    grid-row: 6/8;
  }

  .clients {
    padding: 70px 40px 80px 40px;
    border-top-left-radius: 150px;
  }

  .clients__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0px 0px 40px 0px;
  }

  .clients__title {
    margin-right: 0;
    margin-bottom: 30px;
    padding-left: 0;
  }

  .clients__text {
    font-size: 14px;
    -ms-flex-item-align: center;
    align-self: center;
  }

  .clients__list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .blog__title {
    margin: 20px 0px 0px 0px;
  }

  .blog__search {
    margin: 36px 0px 0px 0px;
  }

  .blog__popular-news {
    margin: 36px 0px 0px 0px;
  }

  .blog__news {
    margin: 36px 0px 0px 0px;
  }

  .title__headline {
    font-size: 28px;
  }

  .title__text {
    font-size: 14px;
    max-width: 500px;
  }

  .popular-news__row_s {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .new_b {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 380px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .new_column {
    max-width: 380px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .new_column:last-child {
    margin-right: auto;
    margin-bottom: 0;
  }

  .new_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 380px;
    margin: 0 auto;
  }

  .new__image_b {
    margin: 0px 0px 12px 0px;
  }

  .new__image_row {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin: 0px 0px 12px 0px;
  }

  .new__title_b {
    font-size: 24px;
    line-height: 139.2857142857%;
    margin: 0px 0px 19px 0px;
  }

  .new__text_b {
    margin: 0px 0px 15px 0px;
  }

  .news__content {
    padding: 0px 0px 67px 0px;
  }

  .contact__title {
    margin: 20px 0px 0px 0px;
  }

  .contact__feedback {
    margin: 30px 0px 0px 0px;
  }

  .contact__map {
    margin: 60px 0px 60px 0px;
  }

  .feedback__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .feedback__contacts {
    margin: 0px 0px 40px 0px;
    -ms-flex-item-align: center;
    align-self: center;
  }

  .feedback__image {
    margin-bottom: 40px;
  }

  .feedback__row {
    margin: 0px 0px 30px 0px;
  }

  .feedback__title_form {
    margin: 0px 0px 30px 0px;
  }

  .feedback__form {
    width: 100%;
    margin: 0 auto;
  }

  .form {
    padding: 20px;
  }

  .form__title {
    margin: 0px 0px 30px 0px;
  }

  .form__row:last-child {
    margin-top: 30px;
  }

  .form__input {
    padding: 21px 20px;
  }

  .form__submit {
    padding: 15px 0px 15px 0px;
  }

  .map__body {
    padding: 0px 0px 91.1% 0px;
  }

  .popup__close {
    top: 20px;
  }

  .success {
    padding: 50px 20px 30px 20px;
  }

  .success__title {
    font-size: 28px;
  }
}

@media (max-width: 424px) {
  .title-block__title {
    font-size: 32px;
    max-width: 320px;
  }

  .title-block__text {
    font-size: 12px;
    max-width: 320px;
  }
}